extends base.pug
block scripts
  script(src='/static/index.js')

block style 
     style
       include ../static/style.css
       include ../static/about.css

block content   
      div.container2 
        h1 About  
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex minima in reiciendis atque, harum quia laudantium? Quod quas porro veniam debitis, itaque laudantium quibusdam in, reprehenderit officiis voluptas magnam pariatur!<br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione, unde eveniet. Pariatur quam nisi architecto doloremque tenetur soluta accusamus consequatur tempore at vero explicabo voluptates, non sapiente, similique id tempora.
