doctype html
html
  head
    title Nilesh Dance Academy
    style
      include ../static/style.css
    body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/img1.png")
                | NDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]
    
        section#introSectiom 
             div Welcome to Nilesh Dance Acadrmy
             div.small Eat Sleep Dance repeat
                 
       
       
        section#missionSection 
              h2 Our Mission
              div.card 
                 h3 Dance Perfction
              div.card 
                 h3 Danc the way you like
              div.card 
                 h3 expert Teaching
              
       
            
        section#sponsorSection 
              h2 Our Sponsors
              div#sponsor
                img(src="/static/img/img2.1.png",alt = "sponsrimage" ,Class = "spimage")
                img(src="/static/img/img2.2.png",alt = "sponsrimage" ,Class = "spimage")
                img(src="/static/img/img2.3.png",alt = "sponsrimage" ,Class = "spimage")
                img(src="/static/img/img2.5.png",alt = "sponsrimage" ,Class = "spimage")

        footer#footer 
             | Copyright Ⓒ 2021 NileshDanceAcadmy.com All rights reserved
                 
     
//-  script 
//-      include ../static/index.js